.cloud {
  width: 100px;
  height: 50px;
  background-color: #fff;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  animation: float 5s infinite linear; /* Define la animación */
}

@keyframes float {
  0% {
    transform: translateX(-100%); /* Define la posición inicial */
  }
  100% {
    transform: translateX(100%); /* Define la posición final */
  }
}
